# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/

# Build output
[Bb]uild/
[Bb]uilds/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# VS Code
.vscode/

# Optional local settings
UserSettings/

# Optional tool folders
.agents/
.codex/

# md and png
*.md
*.png